/**
 * @author Kim Arontaus
 * @version 0.0.1
 * ...
 */

/* Rock Paper Scissors main.css */

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
:root {
  --page-background: #0c0c0c;
  --main-page-color: #7fc2ff;
  --main-console-color: #04335380;
  --console-background: #00a4c0;
  --red-color: #9e0e0e;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--page-background);
  color: var(--main-page-color);
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  visibility: hidden;
  animation: fadeIn2 3s paused;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==================== Logo ===================== */

.header_logo {
  margin-left: 3em;
}

.header_logo img {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.header_logo img:hover {
  transform: rotate(360deg) scale(0.9);
}

/* ==================== Title ===================== */

.header_title {
  font-size: 3em;
  font-weight: bold;
}

.header_title span {
  color: var(--red-color);
  font-weight: bold;
}

/* ===== Links ===== */
.header_menu {
  margin-right: 1em;
  font-size: 1.5em;
}

.header_menu ul {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  list-style: none;
}
.header a {
  text-decoration: none;
  color: var(--console-background);
}
.header a:hover {
  color: var(--main-page-color);
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.main_container {
  visibility: hidden;
  animation: fadeIn3 3s paused;
  min-height: 700px; /* temp */
}

/*--------------------------------------------------------------
# Game Container
--------------------------------------------------------------*/

.game_container {
  margin: 1em auto;
  width: 1300px;
  min-height: 700px;
}

/* ===== Game Text Box (Messages) ===== */
.game_text_box {
  visibility: hidden;
  /* animation: fadeIn1 3s paused; */
  border: 6px solid var(--dark-color);
  border-radius: 10px;
  min-height: 5em;
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  margin: 0 1.5em;
}

.type {
  animation-play-state: paused !important;
  width: 32ch;
  animation: typing 4s steps(32), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

/*--------------------------------------------------------------
# Game Console
--------------------------------------------------------------*/

.game_console {
  color: var(--main-console-color);
  border: 6px solid var(--main-console-color);
  border-radius: 10px;
  margin: 1em 2em;
  min-height: 500px;
} 

.game_console_main {
  display: flex;
  justify-content: space-between;
}

.game_console_header {
  border-bottom: 3px dashed var(--main-console-color);
  height: 2em;
}

/* ===== Information Header ===== */
.console_header_info h2 {
  white-space: pre;
}

/*--------------------------------------------------------------
# Game Console Player & Computer
--------------------------------------------------------------*/

.game_console_player, .game_console_computer  {
  border: 6px solid var(--main-console-color);
  border-radius: 10px;
  background: var(--console-background);
  /* don't keep?? */
  height: 420px;
  width: 420px;
  margin: 0.5em;
  display: flex;
}

.player_main, .computer_main  {
  margin: 1px;
  width: 240px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===== Player & Computer Avatars ===== */
.player_avatar, .computer_avatar  {
  margin: 1px;
  width: 215px;
  height: 210px;
}
.player_avatar img, .computer_avatar img {
  width: 225px;
  height: 210px;
}

/* ===== Player & Computer Stats ===== */
.player_stats, .computer_stats {
  margin: 1px;
  width: 225px;
  height: 200px;
  font-size: 1.5em;
}

.computer_stats {
  font-size: 1.4em;
}

.player_cash, .computer_cash {
  display: flex;
  align-items: center;
}

.player_side, .computer_side  {
  margin: 1px;
  width: 165px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

/* ===== Betting ===== */
.player_bet, .computer_bet {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 2em;
}
.player_bet img, .computer_bet img {
  width: 30px;
}

/* ===== Player & Computer Weapons ===== */
.player_weapons_pulsating {
  animation: pulsating 2s infinite;
}

.player_weapons > *, .computer_weapons > * {
  margin: 1px;
  height: 100px;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* changed to auto */
}
.player_weapons > * {
  border: 3px solid var(--main-console-color);
  border-radius: 10px;
  cursor: pointer;
}

.player_weapons > *:hover {
  transform: scale(1.05);
  border-color: var(--main-page-color);
  box-shadow: 0 0 1rem var(--main-page-color);
}

/*--------------------------------------------------------------
# Game Console Center
--------------------------------------------------------------*/

.game_console_center {
  margin: 0.5em;
  width: 330px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_console_center > * {
  margin: 1px;
  width: 330px;
  height: 135px;
  margin-top: 0.2em;
}

.game_console_center_top {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

 .game_console_center_top,
 .game_console_center_mid,
 .game_console_center_bottom,
 .game_console_center_mid_active,
 .game_console_center_bottom_active {
  background: var(--console-background);
  border: 6px solid var(--main-console-color);
  border-radius: 10px;
 }

.game_console_center_mid {
  visibility: hidden;
}
.game_console_center_bottom {
  visibility: hidden;
}
.game_console_center_mid_active {
  background: var(--main-page-color);
}
.game_console_center_bottom_active {
  background: var(--main-page-color);
}

/* ===== Transition (for Button  ===== */
.transition {
  transform: scale(1.05);
  border-color: var(--main-page-color);
  box-shadow: 0 0 1rem var(--main-page-color);
}

/*--------------------------------------------------------------
# Play / Restart Buttons( Game Console Center)
--------------------------------------------------------------*/

.play_container {
height: 100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.restart_button {
  visibility: hidden;
}
.action_button, .restart_button {
  font-size: 1.5em;
  padding: 3px;
  border: 3px solid var(--main-console-color);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  /* animation: pulsating 2s infinite; */
}
.action_button:hover, .restart_button:hover {
  transform: scale(1.05);
  border-color: var(--main-page-color);
  box-shadow: 0 0 1rem var(--main-page-color);
}
.action_button_pressed {
  background: var(--main-page-color);
}
.action_button_pulsating {
  animation: pulsating 2s infinite;
}


/*--------------------------------------------------------------
# Bet & VS (Game Console Center)
--------------------------------------------------------------*/
.amount_bet_text {
  text-align: center;
  font-weight: bold;
}

.chosen_weapons_text {
  text-align: center;
  font-weight: bold;
}

/* ===== VS  ===== */
.versus_box { 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== VS STAR  ===== */

.star {
  background: black;
  width: 70px;
  height: 70px; 
  position: absolute;
  text-align: center;
  transform: rotate(20deg);

}
.star:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px; 
  background: black;
  transform: rotate(135deg);
}

.versus_text {
  font-size: 3em;
  font-weight: bolder;
  font-style: oblique;
  z-index: 900;
  color: var(--red-color);
}

/* ===== Chosen Weapons  ===== */
.chosen_weapons {
  display: flex;
  justify-content: center;
}

.chosen_weapons > * {
  margin: 1px;
  width: 100px;
  height: auto;
}


/*--------------------------------------------------------------
# Weapons
--------------------------------------------------------------*/

.player_weapons img, .computer_weapons img {
  width: 100px;
  height: auto;
}
.player_weapons img {
  padding: 15px;
}

.players_choice img, .computers_choice img {
  width: 90px;
  height: auto;
  /* padding: 15px; */
}


/*--------------------------------------------------------------
# Results / Winner Info
--------------------------------------------------------------*/

.winner_container {
  content-visibility: hidden; /* hidden!!!! */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result_text {
  text-align: center;
  font-weight: bold;
}

.winner_box {
  display: flex;
}

.winner_info_box {
  width: 200px;
  margin-left: 5px;
  font-size: 1.3em;
  position: relative;
}

/* ===== Winning / Losing Weapons  ===== */
#winning_weapon, #losing_weapon {
  width: fit-content;
}

.winner_info_box > * {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 3px;
}
.winner_avatar img {
  width: 100px;
}
.winner_info_box img {
  width: 30px;
  position: absolute;
  right: 10px;
}
.winner_weapon img{
  top: 25px;
}
.loser_weapon img {
  top: 57px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  visibility: hidden;
  min-height: 3em;
  margin-top: auto;
}

.footer_content p {
  color: var(--console-background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 1em;
}
.footer_content img {
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.footer_content img:hover {
  transform: rotate(360deg) scale(0.9);
}


/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/


/* ===== Play Button Animations  ===== */
@keyframes pulsating {
	0% {
		transform: scale(1.05);
		box-shadow: 0 0 0 0 rgba(127, 194, 255, 0.8);
    background: rgba(127, 194, 255, 0.8);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 15px rgba(127, 194, 255, 0);
	}

	100% {
		transform: scale(1.05);
		box-shadow: 0 0 0 0 rgba(127, 194, 255, 0);
	}
}


/*--------------------------------------------------------------
# Intro
--------------------------------------------------------------*/


.intro_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: var(--page-background);
}

.exit_text {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1.2em;
  color: var(--console-background);
  
}

.intro_content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
.intro_container h2 {
  position: absolute;
  top: 50%;
  line-height: 100px;
  height: 100px;
  margin-top: -50px;
  font-size: 100px;
  width: 100%;
  text-align: center;
  color: transparent;
  animation: blurFadeInOut 3s ease-in backwards;
}
.intro_container h2.splash_1 {
  animation-delay: 0s;
}
.intro_container h2.splash_2 {
  animation-delay: 2.5s;
}
.intro_container h2.splash_3 {
  animation-delay: 5.5s;
}
.intro_container h2.splash_4 {
  animation-delay: 9s;
}
.intro_container h2.splash_5 {
  animation: none;
}
.intro_container h2.splash_5 span {
  animation: blurFadeIn 3s ease-in 13s backwards;
  color: transparent;
  text-shadow: 0px 0px 1px var(--console-background);
}
.intro_container h2.splash_5 span:nth-child(2) {
  animation-delay: 14s;
  text-shadow: 0px 0px 1px var(--red-color);
}
.intro_container h2.splash_5 span:nth-child(3) {
  animation-delay: 15s;
}
.pics div {
  animation: blurFadeIn 3s ease-in 16s backwards;
  color: transparent;
  text-shadow: 0px 0px 1px var(--console-background);
}
.pics div:nth-child(1) {
  animation-delay: 16s
}
.pics div:nth-child(2) {
  animation-delay: 16.5s
}
.pics div:nth-child(3) {
  animation-delay: 17s
}
.intro_container h2.splash_5 {
  animation: fadeOut 3s ease-out 19s forwards;
  color: transparent;
  text-shadow: 0px 0px 1px var(--page-background);
}

.pics {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-top: 1.2em;
}

@keyframes blurFadeInOut{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px var(--main-page-color);
    transform: scale(0.9);
  }
  20%,75%{
    opacity: 1;
    text-shadow: 0px 0px 1px var(--main-page-color);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    text-shadow: 0px 0px 50px var(--main-page-color);
    transform: scale(0);
  }
}
@keyframes blurFadeIn{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px var(--main-page-color);
    transform: scale(1.3);
  }
  50%{
    opacity: 0.5;
    text-shadow: 0px 0px 10px var(--main-page-color);
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    text-shadow: 0px 0px 1px var(--main-page-color);
    transform: scale(1);
  }
}
@keyframes fadeInBack{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  50%{
    opacity: 0.4;
    transform: scale(2);
  }
  100%{
    opacity: 0.2;
    transform: scale(5);
  }
}
@keyframes fadeOut{
  0%{
    opacity: 1;
    text-shadow: 0px 0px 40px var(--main-page-color);
  }
  50%{
    opacity: 0.5;
    text-shadow: 0px 0px 10px var(--main-page-color);
  }
  100%{
    opacity: 0;
    text-shadow: 0px 0px 1px var(--main-page-color);
  }
}


/**** later *****/

@keyframes fadeIn1{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}


/* ===== Game Text Box (Message) Animation  ===== */

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}